main {
  width: 100vw;
  height: 92.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  width: 55%;
<<<<<<< HEAD
  height: 34vh;
}

.contents > .content--title {
=======
  height: 17vh;
  /* border: 1px solid black; */
  /* margin-bottom: 20px; */
}

.contents > .content--title {
  margin-bottom: 10px;
>>>>>>> d96d523ecfeb40d20a082e9d8f5eb6c150bd292a
  font-size: 21px;
  font-weight: 900;
}

.content {
  height: 160px;
  display: flex;
  position: relative;
<<<<<<< HEAD
  justify-content: center;
  align-items: center;
=======
>>>>>>> d96d523ecfeb40d20a082e9d8f5eb6c150bd292a
}

.content-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.btn-left {
  left: 20px;
<<<<<<< HEAD
  top: 65px;
}

.btn-right {
  right: 35px;
  top: 65px;
=======
  top: 0;
}

.btn-right {
  right: 20px;
  top: 0;
>>>>>>> d96d523ecfeb40d20a082e9d8f5eb6c150bd292a
}

.content-list__container {
  width: 60vw;
  display: flex;
  justify-content: center;
}

.content-list {
  width: 100%;
  display: flex;
}

.hide {
  display: none;
}

.content-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 15px;
}

.content-item-link {
  width: 50px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 14px;
  bottom: 5px;
  left: 35px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.8);
}
