main {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  width: 55%;
  margin-bottom: 20px;
}

.contents > .content--title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.content {
  height: 160px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.content-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.content-btn:hover {
  animation: changeOpacity 0.5s ease-in-out forwards;
}

.btn-left {
  left: 20px;
  margin-left: 15px;
}

.btn-right {
  right: 20px;
  margin-right: 15px;
}

.btn-left,
.btn-right {
  top: 40%;
}

.content-list__container {
  width: 60vw;
  display: flex;
  justify-content: center;
}

.content-list {
  width: 100%;
  display: flex;
}

.hide {
  display: none;
}

.content-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 15px;
}

.content-item-link {
  width: 50px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 14px;
  bottom: 5px;
  left: 35px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.8);
}
