header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  padding: 15px;
}

.hide {
  display: none;
}

.header__menu {
  margin-right: 15px;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.header__menu:hover {
  animation: changeColorHover 0.5s ease-in-out forwards;
}

.header__form {
  border: 1px solid transparent;
}

.header__form:hover {
  border: 1px solid black;
}

.header__input {
  width: 150px;
  text-align: center;
}

.header__clock {
  margin-right: 15px;
}

.location {
  margin-right: 15px;
}

.temperature {
  display: flex;
  align-items: center;
}

.header__weather {
  display: flex;
  align-items: center;
}
