@import url("reset.css");
@import url("header.css");
@import url("variable.css");
@import url("sidebar.css");
@import url("content.css");
@import url("category.css");
@import url("journal.css");
@import url("animation/animation.css");

@font-face {
  font-family: "font";
  src: url("../font/font.ttf") format("truetype");
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: font, "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕",
    "Malgun Gothic", sans-serif;
  font-weight: 700;
}
