@import url("reset.css");
@import url("header.css");
@import url("variable.css");
@import url("sidebar.css");
@import url("content.css");
@import url("category.css");
@import url("journal.css");

body {
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}
