@keyframes changeOpacity {
  from {
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes changeColorHover {
  from {
    background-color: rgba(255, 255, 255, 0.8);
  }
  to {
    background-color: rgba(185, 185, 185, 0.4);
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
